{% extends 'timeboard/base.html' %}
{% load crispy_forms_filters %}

{% block main_content %}
    {% if request.user.avatar %}
        <img src="{{ request.user.avatar.url }}" width="100" height="100">
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div>
            <a href="{% url 'password_change' %}">Change password?</a>
        </div>
        <br>
        <button type=submit class="btn btn-success">Update</button>
    </form>
{% endblock main_content %}