{% extends 'timeboard/base.html' %}
{% load crispy_forms_filters %}

{% block main_content %}
    <strong>Password Reset Confirm</strong>
    {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success btn-block">Change password</button>
    </form>
    {% else %}
    <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </p>
    {% endif %}
{% endblock main_content %}